<html>
<head>
  <title>Search Results</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh; /* Ensure the body takes up the full height of the viewport */
    }

    h1 {
      margin-bottom: 20px;
    }

    /* Add any other styling you need for the map and the form */
  </style>
</head>
  <body>
    <h3> Search Results </h3>

      <ul>
      <% @users.each do |user| %>
        <li>Username: <%= user.username %></li>
        </br>
        <li>Likes: <%= user.likes %></li>
        </br>
        </br>
      <% end %>
      </ul>

  </body>
</html>