<%= "Find Friends" %>

<html>
<head>
  <title>Static Map</title>
  <style>
    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  </style>
</head>
<body>
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading mb-0">Jana Social</h1>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
    </header>

  <div class="content-container">
<ul>
  <% @friends.each do |friend| %>
  <li><%= friend.username %></li>
  <li><%= friend.bio %></li>
  </br>
  <% end %>
</ul>
  </div>

</body>
</html>
