<html>
<head>
  <title>Static Map</title>
  <style>
    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  </style>
</head>
<body>
  <header class="masthead bg-primary text-white text-center">
    <div class="d-flex align-items-center justify-content-center flex-column" style="height: 20px;">
      <h1 class="masthead-heading mb-0 text-center">Jana Social</h1>
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
    </div>
  </header>

  <div class="content-container">
    <ul>
      <% if @friends.present? %>
        <% @friends.each do |friend| %>
          <li><%= friend.username %></li>
          <li><%= friend.bio %></li>
        <% end %>
        <br>
      <% else %>
        <h2>No friends yet!</h2>
      <% end %>
    </ul>
  </div>

</body>
</html>